@font-face {
  font-family: "Brown";
  src: url("./Brown-Bold.eot");
  src: url("./Brown-Bold.eot?#iefix"), format("embedded-opentype"),
    url("./Brown-Bold.woff2") format("woff2"),
    url("./Brown-Bold.woff") format("woff"),
    url("./Brown-Bold.ttf") format("truetype"),
    url("./Brown-Bold.svg#Brown-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brown";
  src: url("./Brown-Regular.eot");
  src: url("./Brown-Regular.eot?#iefix") format("embedded-opentype"),
    url("./Brown-Regular.woff2") format("woff2"),
    url("./Brown-Regular.woff") format("woff"),
    url("./Brown-Regular.ttf") format("truetype"),
    url("./Brown-Regular.svg#Brown-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
